<style>
  .message-content {
    font-family: Arial, Helvetica, sans-serif;
    max-width: 600px;
    font-size: 18px;
    line-height: 21px;
    background-color: #fff;
    color: #000;
  }

  .title {
    width: 100%;
    text-align: center;
    padding: 15px 0px;
    font-size: 25px;
    background-color: #f1f1f1;
  }

  p {
    width: 100%;
    text-align: center;
    margin: 10px 0px;
  }

  .last-view span, .views span {
    font-weight: bold;
  }

  .notice {
    font-size: 14px;
    color: #4d4d4d;
    padding: 10px 0px;
    background-color: #f1f1f1;
  }
</style>

<div class="message-content">
  <h1 class="title">Hello there!</h1>
  <p class="last-view">Your <span>{{description}}</span> e-mail was just viewed by someone at </br> <span>{{viewerLocation}}</span></p>
  <p class="views">It currently has <span>{{viewCount}}</span> views.</p>
  <p class="notice">We will keep you posted on future views.</p>
</div>
